
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}
/* common style */
body{
font-family: 'Work Sans', sans-serif;
}
.container-all{
  margin: 0 auto;
}

.header-span{
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-btn{
    border-radius: 48px;
    padding: 1rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
font-family: Work Sans;
font-size: 1.2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: none;

}
/* header style */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
   

}
.logo{
    width: 86.041px;
height: 40px;
object-fit:cover ;
}
.nav-icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-heading{
    text-align: center;
    text-align: center;
   padding-left: 1.5rem;
font-size: 45px;
font-weight: 700;
}
.logo{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.nav-icon li{
    list-style: none;
}
.nav-icon li > a{
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-size: 1.2rem;
font-weight: 500;
margin-right: 25px;

}
#nav-btn{
    
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  width: 262px;
height: 56px;
flex-shrink: 0;
display: flex;
justify-content:space-around;
align-items: center;
 }


/* header section ends */
/* banner section starts */

.banner-container{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    
    
   
}

/* banner-left side */
.bl{
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
   position: absolute;
   z-index: -7;
   width:40%;
   
   
}
.dl{
    position: absolute;
    z-index: -7;
    width: 50%;

}
.banner-left{
   padding-left: 5rem;
   position: relative;
   z-index: 10;
   
   

}
.banner-title{
    color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 600;
text-transform: uppercase;
}
.banner-heading{
    text-align: center;
font-size: 96px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-span{
    padding: .3em;
}
.banner-content{
    display: flex;
    justify-items: center;
    align-items: center;
    color: #534C64;
text-align: center;
font-size: 1.2rem;
font-weight: 500;
text-transform: lowercase;
    
}
.btn1,.btn2{
    margin-top: 1.5rem;
    margin-right: 1rem;
}
.btn2{
    border-radius: 48px;
background: #4EC5F7;
}
/* banner-left ends */
/* banner right starts */
.banner-right{
    
}
.banner-img{
    width: 80%;
}
/* banner ends */

/* gamer starts */
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7rem;
    margin-right: 15rem;
    margin-top: 100px;

    

}
.gamer-heading{
    font-size: 2rem;
    text-align: right;
    padding: auto;

}
.gamer-right,.gamer-left{
    width: 50%;
    text-align: right;
}
.gamer-content{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 50px;
}
.gammer-img{
    width: 100%;
}
.gamer-btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
margin-top: 50px;
gap: 10px;
}
.gamer-paragraph{
    margin-top: 15px;
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
}
.gamer-hrading{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
}

/* funny starts here */
.funny{
    width: 100%;

    margin-top: 200px;
}
  .funny-container{
    display: flex;
    justify-content:center;
    align-items:center ;
    
    margin-top: 100px;
    flex-wrap: wrap;
  }
.funny-header{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
margin-top: 200px;

}
.funny-paragraph{
  color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;

}
.funny-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-head{
    width: 342px;
height: 400px;
flex-shrink: 0;
border-radius: 16px;

}
.card {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-head img {
    width: 100%;
  }
  
  .funny-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    opacity: 1;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .card:hover .funny-card {
    background-color: rgb(19, 18, 18);
    opacity: 0.7;
  }
  .card:hover .funny-card {

  }

  .header-content {
    text-align: center;
  }
  .card:hover .funny-middle{
    position: absolute;
    top: 50%;
    left: 40%;


  }
  .card-paragraph{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
width: 342px;
  }
/* play content starts */
.play{

}
.play-container{
    display: flex;
    align-items: center;
   justify-content: center;
    gap: 200px;
}
.player{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */

}

.one{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.play-left{
    
    text-align: right;
    width: 30%;
    margin-bottom: 100px;
    
}
.play-right{
  margin-top: 100px;
}
.play1
{
    
flex-shrink: 0;
border-radius: 8px;
z-index: 10;
width: 100%;

background:  lightgray -7.583px 0px / 102.389% 100% no-repeat;
}
.play2{
    position: relative;
    width: 50%;
    
top: -200px;
left: -100px;
flex-shrink: 0;
border-radius: 8px;
border: 10px solid #FFF;
background:  lightgray -7.209px 0px / 114.78% 100% no-repeat;
}

.icon{
  
}
.iconic{
display: grid;
grid-template-columns: repeat(5,1fr);

  
}
.row2,.row3,.row4,.row5{
  position: relative;
  left: 20%;
}
.one-icon{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 10px;
   padding: 10px;
   border: 2px solid transparent;
   border-radius: 50px;

}
.one-icon p{
  font-size: 10px;
    color: #0B0223;
font-family: Work Sans;
padding-left: 5px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
}
.one-icon:hover{
  border: 1px solid #FF42A5;
}
.one-icon:hover p{
  color: #FF42A5;
  
}

     

.footer{
  
  background-color: #0B0223;
  background-size: cover;

  

}
.first-footer,.second-footer,.third-footer,.fourth-footer,.five-footer{
    display: flex;
   
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
justify-content: center;
align-items: center;
}
.first-footer{
    font-size: 18px;
}
.second-footer p{
    font-size: 10px;
    padding: 20px;
    color: #FFFFFF;
}
.third-footer svg{
    margin: 10px;

}
.fourth-footer p,.five-footer{
    font-size: 10px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.60);
}  


/* mobile starts here */
 @media screen and (max-width:576px) {
    .container-all{
    margin: 0 auto;
      
      
    }
    .header-container,.nav-icon,.banner-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
    }  
  
    .logo,.nav-icon li{
      padding-top: 50px;
   
    }
  .header-container{
    
  }
header{
    background: none;
    box-shadow: none;

}
.banner-container{

}
 .banner-title{
  font-size: 1.5rem;
}
.banner-img{
  width: 100%;
}
.banner-left{
  padding-left: 0;
  
}
.banner-heading{
  font-size: 2rem;
}
.banner-content{
  font-size: .9rem;
}
.banner-btn{
  font-size: .7rem;
}
.banner-right{
  margin-top: 20px;
} 
.gamer-img{
   height: ;
}
 .gamer-container{

  flex-direction: column;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
}

.gamer-heading{
  font-size: 1.4rem;
  text-align: center;
  padding-top: 50px;
  text-transform: lowercase;
}
.gamer-content{
  text-align: center;
  font-size: 10px;
  
}
.gamer-right{
  text-align: center;
  width: 100%;
}
.gamer-btn{
  font-size: 13px;
  padding: 15px;
  margin-left: px;
}

.gamer-paragraph{
  text-align: center;
  font-size: 16px;
}
.gamer-hrading{
  font-size: 8px;

}

.funny-header{
  font-size: 16px;
  margin-top: 10px;
  
}

.funny-span{
  font-size:16px;
}
.funny-container{
  flex-direction: column;

}
.funny-paragraph{
  font-size: 10px;
}
.card-container{
  
}
.card{
  background-size: 100%;
  width:auto;
}
.card-paragraph{
  font-size: 12px;
  text-align: center;
}

.one-icon p{
  font-size: 4px;
}
.one-icon img{
  width: 10px;
}
.play-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.player{
  font-size: 30px;
  text-align: center;
  width: 100%;

}
.p1{
  margin-left: 10%;
}
.play1{
  width: 100%;
}
.play2{
  width: 60%;
  top: -80px;
  left: -30px;

}
.play-right{
  margin-top: 0;
  margin-left: 30%;
  margin-top: -200px;
}
.play-left{
  text-align: center;
  width: 100%;
}
.one{
  font-size: 30px;
}
.footer{
  font-size: 2px;
}
.first-footer{
  margin-bottom: 10px;
}
.third-footer{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
}
i{
  color: white;
  font-size: 100px;
}
.second-footer {
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.fourth-footer{
   display: grid;

   grid-template-columns: repeat(2,1fr);
}


.iconic{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr)
}
.row2,.row3,.row4,.row5{
  left: 8%;
}
.f{
  width: 20%;
}
} 




/* for tablet */

@media screen  and (min-width:576px) and (max-width:960px){
  .header-container,.nav-icon,.banner-container,.gamer-container{
    flex-direction: column;
  
  } 
  
  header{
    box-shadow: none;
  }
  .nav-icon li{
    text-align: center;
   padding: 20px;
  
  }
  .logo,.nav-icon{
    margin-top: 40px;
  }
  .banner-img{
    width: 100%;
  }
  .gammer-img{
    width: 500px;
  }
  .banner-right{
    text-align: center;
    width: 100%;
  } 
  .gamer-left{
    width: 100%;
  }
  .gamer-heading{
    text-align: center;
    font-size: 1.5rem;
  }
  .gamer-content{
    text-align: center;
  }
  .funny-container{
    margin-left: 10%;
  }
  .funny-paragraph{
    margin-top: 10%;
  }
  .play{
    margin-top: 100px;
  }
  .play-container{
    flex-direction: column;
    gap: 0;
  }
  .play-right{
    margin-top: 0;
  }
  .play-left{
    width: 100%;
  }
  .play-left{
    text-align: center;
  }
  .row2,.row3,.row4,.row5{
    left: 25%;
  }
}