
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}
/* common style */
body{
font-family: 'Work Sans', sans-serif;
}

.header-span{
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-btn{
    border-radius: 48px;
    padding: 1rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
font-family: Work Sans;
font-size: 1.2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: none;

}
/* header style */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
   

}
.logo{
    width: 86.041px;
height: 40px;
object-fit:cover ;
}
.nav-icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-heading{
    text-align: center;
    text-align: center;
   padding-left: 1.5rem;
font-size: 45px;
font-weight: 700;
}
.logo{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.nav-icon li{
    list-style: none;
}
.nav-icon li > a{
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-size: 1.2rem;
font-weight: 500;
margin-right: 2em;

}
#nav-btn{
    padding: 1rem;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
display: flex;
align-items: center;
justify-content: center;
width: 262px;
height: 56px;
flex-shrink: 0;

}
.one{
    padding: .5rem;
}
/* header section ends */

/* banner section starts */

.banner-container{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    
    
   
}

/* banner-left side */
.bl{
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
   position: absolute;
   z-index: -7;
   width:40%;
   
   
}
.dl{
    position: absolute;
    z-index: -7;
    width: 50%;

}
.banner-left{
   padding-left: 5rem;
   position: relative;
   z-index: 10;
   
   

}
.banner-title{
    color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 600;
text-transform: uppercase;
}
.banner-heading{
    text-align: center;
font-size: 96px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-span{
    padding: .3em;
}
.banner-content{
    display: flex;
    justify-items: center;
    align-items: center;
    color: #534C64;
text-align: center;
font-size: 1.2rem;
font-weight: 500;
text-transform: lowercase;
    
}
.btn1,.btn2{
    margin-top: 1.5rem;
    margin-right: 1rem;
}
.btn2{
    border-radius: 48px;
background: #4EC5F7;
}
/* banner-left ends */
/* banner right starts */
.banner-right{
    
}
.banner-img{
    width: 80%;
}
/* banner ends */

/* gamer starts */
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7rem;
    margin-right: 15rem;
    margin-top: 100px;

    

}
.gamer-heading{
    font-size: 2rem;
    text-align: right;
    padding: auto;

}
.gamer-right,.gamer-left{
    width: 50%;
    text-align: right;
}
.gamer-content{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 50px;
}
.gammer-img{
    width: 100%;
}
.gamer-btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
margin-top: 50px;
gap: 10px;
}
.gamer-paragraph{
    margin-top: 15px;
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
}
.gamer-hrading{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
}

/* funny starts here */
.funny{
    width: 100%;

    margin-top: 200px;
}
  .funny-container{
    display: flex;
    justify-content:center;
    align-items:center ;
    
    margin-top: 100px;
    flex-wrap: wrap;
  }
.funny-header{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
margin-top: 200px;

}
.funny-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-head{
    width: 342px;
height: 400px;
flex-shrink: 0;
border-radius: 16px;

}
.card {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-head img {
    width: 100%;
  }
  
  .funny-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    opacity: 1;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .card:hover .funny-card {
    background-color: rgb(19, 18, 18);
    opacity: 0.7;
  }
  .card:hover .funny-card {

  }

  .header-content {
    text-align: center;
  }
  .card:hover .funny-middle{
    position: absolute;
    top: 50%;
    left: 40%;


  }
  .card-paragraph{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
width: 342px;
  }
/* play content starts */
.play{

}
.play-container{
    display: flex;
    align-items: center;
   justify-content: center;
    gap: 200px;
}
.player{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */

}

.one{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.play-left{
    
    text-align: right;
    width: 30%;
    margin-bottom: 100px;
    
}
.play-right{
  margin-top: 200px;
}
.play1
{
    
    width: 30rem;
    height: 40rem;
flex-shrink: 0;
border-radius: 8px;
background-position: 100%;
background: url('/images/Rectangle\ 55.png'), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}
.play2{
    position: relative;
    top: -20rem;
    width: 18rem;
height: 24rem;
background-position: 100%;
flex-shrink: 0;
border-radius: 8px;
border: 10px solid #FFF;
background: url('/images/Rectangle\ 66.png'), lightgray -7.209px 0px / 114.78% 100% no-repeat;
}

.first,.second{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.one-icon{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 10px;
   padding: 10px;

}
.one-icon p{
    padding-left: 10px;
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.one-icon:hover{
    border-radius: 50px;
    border: 2px solid #FF42A5;
    
}
.one-icon p:hover{
    color: rebeccapurple;
}

.footer{
  background-color: #0B0223;
  background-size: cover;
  

}
.first-footer,.second-footer,.third-footer,.fourth-footer,.five-footer{
    display: flex;
   
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
justify-content: center;
align-items: center;
}
.first-footer{
    font-size: 18px;
}
.second-footer p{
    font-size: 10px;
    padding: 20px;
    color: #FFFFFF;
}
.third-footer svg{
    margin: 10px;

}
.fourth-footer p,.five-footer{
    font-size: 10px;
    padding: 10px;
    color:#FFFFFF ;
}

/* mobile style starts here  */

@media screen and (max-width:576px){
    .header-container,.nav-icon,.banner-container,.gamer-container{
        flex-direction: column;
        padding: 4rem;
        
    }
    header{
        padding: 0;
        margin: 0;
    }
    .header-container{

    }
  
    .banner-heading{
        font-size: 50px;
    }
    .nav-icon li{
        padding: 2rem;
    }
    #nav-btn{
        
    }
    .banner-left{

    }
    .bl{
        width:100%;
    }
    .dl{
        width: 90%;
    }
    .banner-title{
        font-size: 1rem;
        
        
    }
    .banner-left{
        margin-left: 10px;
     
    }
    .banner-content{
        align-items: left;
        
        font-size: 10px;
    }
    .banner-container{
        padding: 0;

      }
      .banner-right{
        padding-left: 50px;
      }

      /* gamer starts */

      .gamer-container{
        margin: 0 0;
        text-align: center;
        gap: 10px;
      }
      .gamer-left,.gamer-right{
        width: 100%;
        text-align: center;

      }
      .gamer-heading{
        font-size: 1.5rem;
        text-align: center;
      }
      .gamer-content,.gamer-paragraph{
        text-align: center;
        font-size: 1rem;
      }
      .gamer-btn{
        font-size: 1rem;
        padding: .8rem;
        margin-top: 1rem;
      }
      .gamer-paragraph{
        font-size: .7rem;
      }
      .gamer-hrading{
        
        font-size: .9rem;
      }
      .funny{
        width: 100%;
    
      }
        .card {
          
            width: 200px;
            height: 400px;
            border-radius: 5px;
            background-position: 100%;
          
          }
           /* play starts */
      .play-container{
        flex-direction: column;
        gap: 0px;
      }
      .play-left{
        text-align: center;
        width: 100%;
        margin-bottom: 0;
        margin-top:100px;
        margin-bottom: -100px;
      }
      .player-right{
        
        
      }
      .play1{
        background-image: url('/images/Rectangle\ 78.png');
        background-size: 100%;
        width: 300px;
        height: 300px;

      }
      .play2{
        background-size: 100%;
        width: 200px;
        height: 200px;
        top: -100px;
        left: 0;
      }
      .funny-header,.funny-span{
        font-size: 1.5rem;
      }
      .card-paragraph{
        font-size: 0.5rem;
      }
      .funny-container{
        flex-direction: column;
        margin:  40px 100px;
      }
      .funny-card{
        width: 400px;
        border: none;
      }
      .funny-header{
        margin-top: -150px;
      }
      .one-icon p{
        padding-left: 2px;
        color: #0B0223;
    font-family: Work Sans;
    font-size: 5px;
   
    }
    .footer{
        /* width: fit-content; */
    }
    .first-footer,.second-footer{
        margin: 10px;
    }
    .second-footer p{
        font-size: 5px;
      
    }

    .fourth-footer p,.five-footer{
        font-size: 5px;
  
    }
    
}
  
      /* fuuny ends */
     

    /* for tablet */
@media screen and (min-width:576px) and (max-width:768px){
    .header-container,.nav-icon,.banner-container{
        flex-direction: column;
        padding: 4rem;
    
    }
    .nav-icon li{
        padding: 2rem;
    }
  
    .banner-left{

    }
    .bl{
        
       width:70%;
       
    
    }
    .dl{
        width: 100%;
    }

    .gamer-container{
        margin: 0 0;
        text-align: center;
        gap: 10px;
      }
      .gamer-left,.gamer-right{
        width: 100%;
        text-align: center;

      }
      
      .gamer-heading{
        font-size: 1.5rem;
        text-align: center;
      }
      .gamer-content,.gamer-paragraph{
        text-align: center;
        font-size: 1rem;
      }
      .gamer-btn{
        font-size: 1rem;
        padding: .8rem;
        margin-top: 1rem;
      }
      .gamer-paragraph{
        font-size: .7rem;
      }
      .gamer-hrading{
        font-size: .9rem;
        
      }

      /* funny starts here */
      .play-container{
        flex-direction: column;
      }
    .play-left{
        width: 100%;
        text-align: center;
    }
    .play-right{
        margin-top: -200px;
    }

}